$piura: #FFBF00;
header{
	background: url('../imgs/2.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	.cabecera{
		padding: 20px;
		.info{
			margin-top: 10px;
			a{
				display: inline-block;
				text-decoration: none;
				color: #fff;
				font-weight: bold;
				margin-right: 50px;
			}
		}
		.buscar{
			.input-group{
				input{
					background: none;
					border: none;
					border-bottom: 1px solid #fff;	
				}

			}
			.input-group-btn{
				button{
					background: none;
					color: #fff;
					border: none;
				}
			}
		}
	}
	.navegacion{
		background: #1C1C1C;
		padding: 25px 20px;
		.titulo{
			color: #fff;
			font-weight: bold;
			text-decoration: none;
			font-size: 50px,
		}
		
		.nav{
			margin: 40px 0;
			font-weight: bold;
			
			a{
				display: inline-block;
				color: #fff;
				text-decoration: none;
				margin-right: 20px;
				&.active{
					color: $piura;
				}
			}

		}
		.social{
			margin: 25px 0;
			font-weight: bold;
			a{
				display: inline-block;
				color: #fff;
				text-decoration: none;
				margin: 0 10px;
				font-size: 20px;
				border-radius: 100%;
				background: #151515;
				padding: 10px;
				width: 50px;
				text-align: center;
				&.facebook:hover{
					background: #3b5998;
				}
				&.twitter:hover{
					background: #1da1f2;
				}
				&.youtube:hover{
					background: #ff0000;
				}
				&.instagram:hover{
					background: #e1306c;
				}
			}
		}
	}
	.presentacion{
		margin: 80px 0;
		font-family: 'Inconsolata', monospace;
		.texto{
			font-size: 60px;
			color: #fff;
			font-weight: 500;
			
			span{
				font-size: 200%;
				margin: 0 30px;
			}
		}
		p{
			color: #fff;
			font-size: 30px;
		}
		.mas{
			text-decoration: none;
			display: inline-block;
			padding: 10px 30px;
			text-align: center;
			background: $piura;
			color: #000;
			margin-top: 30px;
			&:hover{
				background: none;
				border: 1px solid #fff;
				color: #fff;
			}
		}
	}
}

@media only screen and (max-width: 500px) {
	/*
	header{
		.navegacion{
			padding: 5px;
			.nav{
				display: none;
			}
		}
	}
	*/
	
	
}